configuration {
    
}
@import "askpass"
@import "bluetooth"
@import "colors"
@import "confirm"
@import "font"
@import "launcher"
@import "mpd"
@import "network"
@import "networkmenu"
@import "powermenu"
@import "runner"
@import "screenshot"